*.tmp
modules/
.tf_exec/
.terraform/
ec-lambda.zip
.idea/
.ruby-version
**/*.auto.tfvars
config/**/variables.tf
**/*.pyc
*.swp
crash.log
*.retry
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
**.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
packer_cache/
*.box
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
**/.svn
**.lock
**.json
